/.vs/WeatherAPIChallenge/config/applicationhost.config
/.vs/WeatherAPIChallenge/v16/.suo
/.vs/WeatherAPIChallenge/v16/TestStore/0/000.testlog
/.vs/WeatherAPIChallenge/v16/TestStore/0/testlog.manifest
/WeatherAPIChallenge/bin
/WeatherAPIChallenge/obj
/WeatherAPIChallenge.Tests/bin
/WeatherAPIChallenge.Tests/obj
